form{
			border:1px solid black; 
			text-align: center; 
			height: 600px; 
			width: 600px; 
			margin: auto auto;
		}

button{
			padding: 10px;
			background-color:lightgrey;
			margin: 2px;
			border: 1px solid;
			border-radius: 2px;
}

img{
	height: 300px;
	width: 300px;
}